.work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 200px;
    margin: 0px auto;
    transition: opacity 1s;
    width: 90vw;
}

.work .work_init {
    display: flex;
    align-items: center;
}

.work_init h1 {
    display: inline;
    color: var(--color-palette-light-gray);
}

.work_init h2 {
    display: inline;
    color: var(--color-palette-light-turquoise);
}

.work p {
    margin-top: 50px;
    max-width: 1000px;
    color: var(--color-palette-gray);
    margin-bottom: 50px;
}

.work_all {
    display: flex;
    flex-direction: column;
}

.work_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.work_item {
    position: relative;
    width: 300px;
    height: 300px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--color-palette-hover-background);
    transition: transform 500ms;
}

.work_item h1 {
    transition: color 300ms;
}

.work_item:hover {
    transform: translate3d(0, -15px, 0);
}

.work_item:hover h1 {
    color: var(--color-palette-light-turquoise);
}

.work_folder {
    margin-left: 30px;
    margin-top: 30px;
}

.work_icon {
    color: var(--color-palette-gray);
    position: absolute;
    top: 30px;
    right: 20px;
    transition: color 200ms;
}

.work_icon:hover {
    color: var(--color-palette-light-turquoise);
}

.work_item h1 {
    display: block;
    color: var(--color-palette-light-gray);
    font-size: 18px;
    padding: 15px 30px;
    padding-top: 50px;
}

.work_item h2 {
    display: block;
    color: var(--color-palette-gray);
    font-size: 14px;
    padding: 0px 30px;
}

.work_tags_container {
    position: absolute;
    bottom: 40px;
}

.work_tags {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.work_tags p {
    font-size: 12px;
    padding-right: 18px;
    text-align: justify;
    margin-bottom: 0;
}
