.presentation {
    margin-left: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 20px;
}

.presentation {
    transition: opacity 1s;
}

.presentation h1 {
    color: var(--color-palette-dark-turquoise);
    font-size: 16px;
    margin-bottom: 15px;
    padding-left: 3px;
}

.presentation h2 {
    color: var(--color-palette-light-gray);
    font-size: 30px;
}

.presentation h3 {
    color: var(--color-palette-gray);
    font-size: 30px;
    margin-bottom: 25px;
}

.presentation p {
    color: var(--color-palette-gray);
    font-size: 18px;
    max-width: 555px;
    margin-bottom: 50px;
    padding-left: 4px;
}

@keyframes fade-in-up {
    from {
        transform: translate3d(0, 40px, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@media (min-width: 500px) {
    .presentation h2 {
        font-size: 40px;
    }

    .presentation h3 {
        font-size: 40px;
    }
}

@media (min-width: 750px) {
    .presentation h2 {
        font-size: 60px;
    }

    .presentation h3 {
        font-size: 60px;
    }
}
