* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

:root {
    --color-palette-hover-background: #112240;
    --color-palette-light-background: #133040;
    --color-palette-background: #0a192f;
    --color-palette-dark-background: #071221;
    --color-palette-darker-background: #020c1b;
    --color-palette-light-turquoise: #64ffda;
    --color-palette-dark-turquoise: #57dcc0;
    --color-palette-light-gray: #ccd6f6;
    --color-palette-gray: #8892b0;
    --color-palette-dark-gray: #495670;
    --color-palette-darker-gray: #233554;
    --delay-logo: '';
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    transition: background-color 1s;
    background-color: var(--color-palette-background);
}

body::-webkit-scrollbar {
    --webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 8px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-palette-dark-gray);
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}
