.wrapper {
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 5px 5px var(--color-palette-dark-background);
}

.header {
    background: var(--color-palette-background);
    width: 100%;
    position: fixed;
    z-index: 10;
}

.main_button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 25px;
    margin: 15px;
    color: var(--color-palette-light-turquoise);
    background-color: var(--color-palette-background);
    border: 3px solid var(--color-palette-light-turquoise);
    transition: transform 1s;
}

.main_button:hover {
    background-color: var(--color-palette-light-background);
    transform: scale(1.1);
}

.navigation {
    display: none;
    float: right;
    padding: 10px;
    padding-right: 50px;
}

.navigation ul {
    list-style: none;
    overflow: hidden;
}

.navigation ul li {
    float: left;
    font-size: 16px;
}

.navigation ul li a {
    display: block;
    padding: 20px;
    color: var(--color-palette-light-gray);
    text-decoration: none;
}

.navigation ul li a p {
    display: inline;
    color: var(--color-palette-light-turquoise);
}

.navigation ul li a:hover {
    transition: color 500ms;
    color: var(--color-palette-dark-turquoise);
}

.menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 40vw;
    height: 200vh;
    background-color: var(--color-palette-hover-background);
    z-index: 20;
    text-align: center;
    transform: translate3d(80vw, 0, 0);
    transition: transform 500ms;
    padding-top: 40px;
}

.menu_show {
    transform: translate3d(0, 0, 0);
}

.menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    justify-content: space-around;
    margin-top: 50px;
}

.menu ul li {
    float: left;
    font-size: 16px;
}

.menu ul li a {
    display: block;
    padding: 20px;
    color: var(--color-palette-light-gray);
    text-decoration: none;
}

.menu ul li a p {
    display: inline;
    color: var(--color-palette-light-turquoise);
}

.menu ul li a:hover {
    transition: color 500ms;
    color: var(--color-palette-dark-turquoise);
}

.menu_nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_nav h1 {
    font-size: 20px;
    color: var(--color-palette-light-turquoise);
    text-align: center;
}

.menu_nav h2 {
    font-size: 20px;
    color: var(--color-palette-light-gray);
    text-align: center;
}

.icon_navigation {
    position: fixed;
    display: inline-block;
    color: var(--color-palette-dark-turquoise);
    right: 20px;
    top: 30px;
    z-index: 30;
}

.icon_navigation i {
    z-index: 30;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in-down {
    from {
        transform: translate(0, -40px);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@media (min-width: 750px) {
    .navigation {
        display: block;
    }

    .menu {
        display: none;
    }

    .icon_navigation {
        display: none;
    }
}
